= I18n.t('txt.service.email.hello')
= @user.name

= I18n.t('txt.service.email.body')
= edit_service_path(@user, :host => '152.146.39.15:5001', :only_path => false, :access_code => @user.access_code)
- @user.save
