.attribute .name {
  display: inline; }
.attribute .value {
  display: inline; }

#language_form {
  margin-top: 0px; }

#search_form {
  margin-top: -25px;
  z-index: 9999; }

#content {
  margin-left: 0px; }

body {
  padding-right: 10px;
  padding-left: 10px; }

#logo {
  background-color: #fff; }

#header #title {
  position: absolute;
  left: 113px;
  top: 15px;
  background-color: #000; }
