body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.9em;
  padding-right: 40px;
  padding-left: 40px; }

#logo {
  position: absolute;
  top: 10px;
  left: 40px; }

#header {
  margin-top: 30px;
  margin-left: 80px;
  text-align: right;
  height: 23px;
  background: #000 url(/images/header_bg.png) repeat-x scroll top left;
  padding-top: 4px;
  color: #fff; }
  #header #title {
    position: absolute;
    left: 125px;
    top: 15px; }
  #header a {
    color: #fff;
    text-transform: uppercase;
    padding-right: 2px;
    padding-left: 2px; }
  #header a:hover {
    text-decoration: none;
    font-weight: bold; }

#content {
  margin-top: 20px; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

th {
  background: #000 url(/images/header_bg_blue.png) repeat-x scroll top left;
  border: 2px solid #cccccc;
  height: 27px;
  padding-left: 5px;
  font-size: 1.1em;
  text-align: left;
  color: #fff; }

h1 {
  padding-left: 80px;
  color: #666666; }

#flash {
  float: right;
  width: 50%;
  padding-left: 80px;
  margin-top: 15px; }
  #flash .flash_controls {
    float: right; }

.clear {
  height: 1px;
  clear: both; }

.two_col {
  width: 45%;
  float: left; }

.widget {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

.middle {
  vertical-align: middle; }

.attribute {
  display: table-row; }
  .attribute .name {
    display: table-cell;
    font-weight: bold;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px; }
  .attribute .value {
    display: table-cell; }

.fieldWithErrors {
  color: red; }

.even_row {
  background: #e9e9e9 url(/images/table_bg.png) repeat-x scroll top left; }

#search_form {
  float: right;
  padding-top: 25px; }

#errorExplanation {
  font-weight: bold;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  border: 1px solid #cd0a0a;
  background: #b81900 url(/images/ui-bg_diagonals-thick_40_b81900_40x40.png) 50% 50% repeat;
  color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  #errorExplanation h2 {
    display: none;
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }
