- company ||= false

- form_tag '/users/search', :id => :search  do
  .attribute
    .name Search
    .value
      = text_field_tag :name
      = select_tag :company, "<option>All</option>" + options_from_collection_for_select(Company.all, 'id', 'name'), :include_blank => true if company

= observe_form :search, :url => { :action => :search }, :frequency => 0.25, :update => :search_results
%br
