- surname ||= false

%span{:style => 'vertical-align: middle;'}
  = gravatar_for(user, :default => "#{root_url}/public/images/face.png")
  - link = ' ' + user.surname.to_s.capitalize if surname
  = link_to h(user.login.capitalize + link.to_s), user
