- surname ||= false

%span
  = image_tag gravatar_url(user.email, :default => "#{root_url}/public/images/face.png"), :width => '35px', :style => 'vertical-align: middle;'
  - link = ' ' + user.surname.to_s.capitalize if surname
  = link_to h(user.name.capitalize + link.to_s), user
