%p
  You can download all users
  = link_to 'here', download_files_path

or

%p
  you can download only one company

  - form_tag download_files_path do
    = collection_select :company, :id, Company.all, :id, :name
    = submit_tag 'download'
