%h1
  = @company.name

- if @company.users.empty?

  No users in
  = @company.name
  at this moment.

- else
  = render :partial => 'users/search'

  #search_results
    = render :partial => 'users/list', :locals => {:users => @company.users}
