.two_col{:style => 'width:50%'}
  %h1= @company.name

.two_col{:style => 'width:50%'}
  = render :partial => 'users/search', :locals => {:company => @company}

.clear

#search_results
  = render :partial => 'users/list', :locals => {:users => @company.users}
