.two_col{:style => 'width:50%'}
  %h1 Admins

.two_col{:style => 'width:50%'}
  = render :partial => 'users/search', :locals => {:company => true}

.clear

#search_results
  = render :partial => 'list', :locals => {:users => @users}
