%h1 Type your email address

- form_tag '/service/send_access' do

  .attribute
    .name Email
    .value= text_field_tag :email
    .vlaue= submit_tag 'send'

%p
  An email will be sent to the address you type with an access link to be able to
  edit your account.
%p
  This access is only valid for one time. Should any problem
  occur, you will have to retype your email.
